$media: screen;

.user__section{
  display: flex;
  justify-content: space-between;
}

.user__section > div:first-child{
  position: relative;
  min-height: 88px;

}

.logo__white{
  padding: 10px;
  border-radius: 8px;
  background: #fff;

}

.telegram__img{
  max-width: 55px;
  max-height: 55px;
}